<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<div [hidden]="loading">
  <h1 mat-dialog-title>Edit Task</h1>
  <form #taskForm="ngForm" (ngSubmit)="editTask(taskForm)">
    <mat-form-field>
      <input
        name="taskId"
        [(ngModel)]="id"
        #taskId="ngModel"
        matInput
        readonly
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Project</mat-label>
      <mat-select name="projectId" [(ngModel)]="projectName">
        <mat-option
          *ngFor="let project of projects"
          [value]="'[' + project.id + ']. ' + project.name"
        >
          {{ "[" + project.id + "]. " + project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Performer</mat-label>
      <mat-select name="performerId" [(ngModel)]="performerName">
        <mat-option
          *ngFor="let performer of performers"
          [value]="
            '[' +
            performer.id +
            ']. ' +
            performer.firstName +
            ' ' +
            performer.lastName
          "
        >
          {{
            "[" +
              performer.id +
              "]. " +
              performer.firstName +
              " " +
              performer.lastName
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        name="taskName"
        [(ngModel)]="task.name"
        #taskName="ngModel"
        matInput
        placeholder="Name"
        required
      />
      <mat-error *ngIf="taskName.errors?.['required']"
        >This field is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        name="taskDescription"
        [(ngModel)]="task.description"
        #taskDescription="ngModel"
        matInput
        placeholder="Description"
        required
      />
      <mat-error *ngIf="taskDescription.errors?.['required']"
        >This field is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Task state</mat-label>
      <mat-select name="taskState" [(ngModel)]="selectedTaskState">
        <mat-option *ngFor="let state of taskStates" [value]="state">
          {{ this.taskService.taskStateToString(state) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date for finishing task</mat-label>
      <input
        name="taskFinishedAt"
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="task.finishedAt"
        min="2023-09-01"
        max="2025-01-01"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error
      *ngFor="let validationError of validationBackendErrors"
      style="margin-bottom: 16px"
    >
      {{ validationError }}
    </mat-error>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
